extends layout.pug

block content
	.container
		ol.list-group.list-group-numbered
			li.list-group-item Copy the following code: <strong>#{userCode}</strong>
			li.list-group-item Go to the following url #[a(href=verificationUri target='_blank') #{verificationUri}]

	if qrCode
		.container.mt-5
			.row
				.col-md-5
					p
						strong Or scan the QR code below
					img(src=`data:image;base64, ${qrCode}`)

	.container.mt-5
		.row
			.col-md-6
				p Upon successful completion the user has authenticated and the device has been authorized. You can switch back to this tab to verify the authenticated users info.
