
html
	head
		title= title
		link(rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin='anonymous')

	body
		.jumbotron
			.container
				h1 Device flow authorization grant sample
				p This sample is using #[a(href='https://www.npmjs.com/package/ibm-verify-sdk' title='IBM Verify Javascript SDK' target='_blank') IBM Verify Javascript SDK]

	.container
		.alert.alert-success You have #{message} using the Device flow authorization grant type.

	.container
		.mb-5
			h4 Resources:
			ul
				li <p><a href="http://developer.ice.ibmcloud.com/verify/javascript/civ-getting-started/about" target="_blank" aria-pressed="true">IBM Security Identity and Access: Developer Portal</a></p>
