html
	head
		title= title
		link(rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin='anonymous')

	body
		.jumbotron
			.container
				h1 Device flow authorization grant sample
				p This sample is using #[a(href='https://www.npmjs.com/package/ibm-verify-sdk' title='IBM Verify Javascript SDK' target='_blank') IBM Verify Javascript SDK]

		.container.main
			p Authorize your sample application against IBM Security Verify using the Device flow authorization grant type.
			button.btn.btn-primary(onclick='authorizeApplication(event)') Authorize


	script(src="/socket.io/socket.io.js")

	script.
		var socket = io();
		socket.on('connect', function() {
			console.log('browser client connected')
		});

		socket.on('success', function(res) {
			window.location.href = res.auth;
		});

		socket.on('authorize', (res) => {
			window.location.href=res.authorizeEndpoint;
		})

		function authorizeApplication(event){
			window.location.href='/authorize'
		}