extends layout.pug

block content
	.container.main
		.row
			p.col-md-6 The sample app demonstrates how to authenticate with IBM Security Verify using the Device authorization grant type.
		button.btn.btn-primary(onclick='authorizeApplication(event)') Device code
