.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.spinner-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #0000003d;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--bs-light);
  border-radius: .3rem;
}

.lead {
  margin-bottom: 3rem;
}

#root {
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#root .mb-5, .my-5{
	margin-bottom: 0 !important;
}

#root .bg-light{
	background-color: #e9ecef !important;
}
